.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.edit-business-input {
    height: 30px;
    width: 300px;
    padding: 5px 9px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 4px;
}

.edit-business-btn {
    box-sizing: border-box;
    height: 41px;
    width: 300px;
    background-color: rgb(244, 57, 57);
    border: 1px solid rgb(244, 57, 57);
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    transition: 0.5s;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.edit-business-btn:hover {
    background-color: rgb(218, 52, 52);
    border: 1px solid rgb(218, 52, 52);
}
