
.browse-busienss-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.bb-img-container {
    height: 426px;
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.bb-img {
    width: 100vw;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}


.searchbar-container {

    background-image: url(https://images.unsplash.com/photo-1485686531765-ba63b07845a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2900&q=80);
    height: 400px;
}

.main-body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


}

.b-title {
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 115, 187);
    text-decoration: none;
}

.business-card {
    width: 297px;
    height: 319px;
    border: 1px solid rgb(230, 230, 230);
    margin: 20px 40px;
    border-radius: 4px;
    transition: 0.2s;
}

.business-card:hover {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.b-img {
    height: 180px;
    width: 297px;
    margin-bottom: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 1;
}

.new-businesses {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    width: 100vw;
    flex-wrap: wrap;

}

.b-link {
    text-decoration: none;
}

.b-link:hover {
    text-decoration: underline;
    text-decoration-color: rgb(0, 115, 187);
}

.card-text {
    margin-bottom: 10px;
    margin-left: 10px;
}

.location-cities {
    text-align: center;
}

.location-title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(211, 35, 35);
    font-size: 21px;
    font-weight: 700;

}

.cities {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);

}

.cities-name {
    cursor: pointer;
    margin-bottom: 5px;
}

.cities-name:hover {
    color: rgb(211, 35, 35);

}

.add-business-btn-container {
    display: flex;
    justify-content: center;
}

.add-business-btn {
    box-sizing: border-box;
    height: 41px;
    width: 300px;
    background-color: rgb(244, 57, 57);
    border: 1px solid rgb(244, 57, 57);
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}

.add-business-btn:hover {
    background-color: rgb(218, 52, 52);
    border: 1px solid rgb(218, 52, 52);
}
