.footer-container {
    background-color: rgb(244, 244, 244);
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #757280;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 75px 0px;

}

.top-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 385px;
    width: 1144px;
    margin: 0px 660px;
    margin-bottom: 20px;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 262px;
}

.footer-titles {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: black;
    line-height: 40px;
}

.ul-style {
    list-style-type: none;
    line-height: 2.5;
}

.higher {
    justify-content: flex-start;
}

.lineheight {
    /* line-height: 50px; */
}

.lower-footer {
    font-size: 18px;
    font-weight: 500;
}

.github-link {
    text-decoration: none;
    color: #757280;
}

.github-link:hover {
    text-decoration: underline;
}
