.top-bar {
    height: 40px;
    padding: 12px;
    background-color: rgb(211, 35, 35);
}

.left-side {
    height: 660px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.signup-btn {
    box-sizing: border-box;
    height: 41px;
    width: 300px;
    background-color: rgb(211, 35, 35);
    border: 1px solid rgb(211, 35, 35);
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    border-radius: 3px;
    font-weight: 700;
}

.signup-page-container {
    display: flex;
    justify-content: center;

}

.signup-img {
    height: 342px;
    width: 382px;
}

.signup-input {
    height: 30px;
    width: 300px;
    padding: 5px 9px;
    margin-bottom: 9px;

}
